<!doctype html>
<html lang="en">

<head>
    {{>headerLink}}
    <title>JD Web Solution - About page</title>
</head>

<body>

    {{>navbar}}

    <div class="container-fluid aboutHeading">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1>about us</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row whoWeAre">
                    <div class="col-md-6 col-12 leftDiv">
                        <h1>Who Is JD Web Solution <span></span></h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ex voluptatem soluta est
                            distinctio, autem quo aut neque at iure magni ipsam reiciendis! Illum nam, unde libero
                            possimus excepturi alias ex quisquam consequatur dolores repudiandae molestiae atque
                            incidunt. Quidem adipisci ducimus natus, fugiat magnam nam cum cupiditate rem facilis
                            consectetur aperiam maxime, accusamus sint possimus delectus in unde! Officiis dolorem quas
                            veritatis. Atque quidem facere doloremque animi sapiente? Aperiam voluptas amet, rerum modi
                            culpa nesciunt tempora inventore quod.</p>
                        <p>Quasi facere natus nihil. Laboriosam possimus incidunt adipisci. Perspiciatis ut repellat
                            totam officiis error rerum, odit nam officia aut natus praesentium accusamus, aliquid est
                            cupiditate accusantium corrupti alias repudiandae a laborum pariatur! Ex dolor illo
                            architecto laudantium odio ipsum? Molestiae saepe dolorem odit perspiciatis, excepturi id
                            nostrum veniam sunt.
                        </p>
                    </div>
                    <div class="col-md-6 col-12 rightDiv">
                        <ul>
                            <li> <strong> Our Company Mission</strong>
                                <p>To help our clients create such high levels of economic value that together we set
                                    new standards of excellence in our respective industries.</p>
                            </li>
                            <li> <strong> Our Company Vision</strong>
                                <p>To be a leader in IT service offerings & enhance customer experience by nurturing
                                    their business through IT solutions, along with building a strong workforce & be a
                                    preferred company in the industry.</p>
                            </li>
                            <li> <strong> Company Values</strong>
                                <ul>
                                    <li>Stewardship</li>
                                    <li>Integrity</li>
                                    <li>Passion at work</li>
                                    <li>Client First</li>
                                    <li>Creative & Innovative</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>

</html>