<!doctype html>
<html lang="en">

<head>
    {{>headerLink}}
    <title>JD Web Solution</title>
</head>

<body>

    {{>navbar}}

    <div class="headerImg">
        <h1 class="headerText">Technology</h1>
        <p class="headerText">Next generation solution provider for ever changing technology landscape.</p>
        <button class="btn">Starts here</button>
    </div>

    <div class="container-fluid header">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row whoWeAre">
                    <div class="col-md-6 col-12 leftDiv">
                        <h1>Who We Are <span></span></h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ex voluptatem soluta est
                            distinctio, autem quo aut neque at iure magni ipsam reiciendis! Illum nam, unde libero
                            possimus excepturi alias ex quisquam consequatur dolores repudiandae molestiae atque
                            incidunt. Quidem adipisci ducimus natus, fugiat magnam nam cum cupiditate rem facilis
                            consectetur aperiam maxime, accusamus sint possimus delectus in unde! Officiis dolorem quas
                            veritatis. Atque quidem facere doloremque animi sapiente? Aperiam voluptas amet, rerum modi
                            culpa nesciunt tempora inventore quod.</p>
                        <p>Quasi facere natus nihil. Laboriosam possimus incidunt adipisci. Perspiciatis ut repellat
                            totam officiis error rerum, odit nam officia aut natus praesentium accusamus, aliquid est
                            cupiditate accusantium corrupti alias repudiandae a laborum pariatur! Ex dolor illo
                            architecto laudantium odio ipsum? Molestiae saepe dolorem odit perspiciatis, excepturi id
                            nostrum veniam sunt.
                        </p>
                    </div>
                    <div class="col-md-6 col-12 rightDiv">
                        <figure>
                            <img src="img/whoweare.jpg" alt="image">
                        </figure>
                    </div>
                </div>
                <div class="row bottomRow">
                    <div class="col-md-4 col-12 box">
                        <img src="https://archesoftronix.com/wp-content/uploads/2020/06/people.png" alt="">
                        <h2>people</h2>
                        <p>We have right skills for any challenge</p>
                    </div>
                    <div class="col-md-4 col-12 box">
                        <img src="https://archesoftronix.com/wp-content/uploads/2020/06/process.png" alt="">
                        <h2>process</h2>
                        <p>Tested & proven approach & methodologies</p>
                    </div>
                    <div class="col-md-4 col-12 box">
                        <img src="https://archesoftronix.com/wp-content/uploads/2020/06/technologies.png" alt="">
                        <h2>technology</h2>
                        <p>Reshape IT with cutting-edge technologies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>

</html>