<!doctype html>
<html lang="en">

<head>
    {{>headerLink}}
    <title>JD Web Solution - Our Service page</title>
</head>

<body>

    {{>navbar}}

    <div class="container-fluid aboutHeading">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1>Web Application</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row whoWeAre">
                    <div class="col-md-6 col-12 leftDiv">
                        <h1>Web App Development Company in Vadodara <span></span></h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ex voluptatem soluta est
                            distinctio, autem quo aut neque at iure magni ipsam reiciendis! Illum nam, unde libero
                            possimus excepturi alias ex quisquam consequatur dolores repudiandae molestiae atque
                            incidunt. Quidem adipisci ducimus natus, fugiat magnam nam cum cupiditate rem facilis
                            consectetur aperiam maxime, accusamus sint possimus delectus in unde! Officiis dolorem quas
                            veritatis. Atque quidem facere doloremque animi sapiente? Aperiam voluptas amet, rerum modi
                            culpa nesciunt tempora inventore quod. Quasi facere natus nihil. Laboriosam possimus
                            incidunt adipisci.
                        </p>
                    </div>
                    <div class="col-md-6 col-12 rightDiv">
                        <figure>
                            <img src="img/web-1935737_1920.png" alt="image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>

</html>